server.port: 5601
server.host: "192.168.11.232"
elasticsearch.hosts: ["http://localhost:9200"]
elasticsearch.pingTimeout: 1500
elasticsearch.requestTimeout: 30000
elasticsearch.shardTimeout: 30000
pid.file: /run/kibana/kibana.pid
logging.verbose: false
ops.interval: 5000

